@import '../../../variables.scss';




#contact-form{
    width: 80vw;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    top: -100px;
    z-index: 3;

    h3{
        font-family: $header-font;
        font-size: 40px;
        margin-bottom: 50px !important;
        color: $bg-color;
    }

    small{
        color: $bg-color;
    }

    .form-control{
        color: white;
        font-size: 20px;
        background-color: $super-color-2;
        border-color: $super-color-2;

        &::placeholder{
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .btn{
        width: 100% !important;
        margin: 7px;
    }

    .btn-default{
        margin: 10px;
        font-size: 20px;
        width: 200px !important;
    }
}