@import '../../variables.scss';


main {
  .content-element {
    position: absolute;
    padding: 20px;

    h2 {
      color: $unique-font-color;
      margin-bottom: 25px;
    }
  }

  .content-element:nth-child(even) {
    right: 200px;
    text-align: right;

    @media (max-width: 1000px){
      right: 0;
    }
  }

  .content-element:nth-child(odd) {
    left: 200px;
    text-align: left;

    @media (max-width: 1000px){
      left: 0;
    }
  }

  .content {
    height: 2000px;
    border-bottom: 1px solid #3e3f46;
  }
}
