@import '../../variables.scss';


main{

    #content{
        margin: 100px;

        section{
            margin-bottom: 200px;

            h2{
                font-family: $header-font;
                margin-bottom: 40px;
            }

            a{
                color: $super-color;
            }
        }
    }

    .dot {
        height: 400px;
        width: calc(100vw -19px);
        margin-top: 200px;
        border-radius: 50%;
        background-color: $super-color;
    }

    .contact-field{
        height: 400px;
        margin-top: -200px;
        z-index: 0;
        background-color: $super-color;
    }
}


