@import '../../variables.scss';


header{
    position: fixed;
    width: 100%;
    font-family: $header-font;
    color: $super-color;

    .navbar{
        background-color: $bg-color-2;
    }

    .navbar-brand{
        font-size: 30px;
    }

    .nav-item{
        margin-left: 15px;
    }

    button{
        border: none;
        background: transparent;
    }
}