@import '../../variables.scss';

footer {
  background-color: inherit;
  text-align: center;
  font-family: $unique-font-family;
  font-size: 12px;
  margin-top: 50px;

  p {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  span {
    display: block;
    margin: 7px 4px;
  }
}
