@import '../../variables.scss';


footer{
    background: $dark-bg;
    color: $bg-color;
    text-align: center;
    padding-top: 30px;

    div:first-child{
        padding: 10px;
        font-size: 20px;

        p{
            font-size: 70px;
            a{
                color: $bg-color;
                &:hover{
                    color: $super-color;
                    transition: .5s;
                }
            }
        }
    }
    
    div:last-child{
        background: $dark-bg-2;
        padding: 10px;
    }
}
