$bg-color: #f0f0f0 !important;

$bg-color-2: #faf8f8 !important;

$header-font: 'Raleway', sans-serif !important;

$content-font: 'Cairo', sans-serif !important;

$super-color: hsl(32, 100%, 68%) !important;

$super-color-2: hsl(36, 100%, 71%) !important;

$dark-bg: #121a20 !important;
$dark-bg-2: #010a10 !important;